Binaries
DerivedDataCache
Intermediate
Saved
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/StarterContent/
Content/FirstPersonBP/Maps/FirstPersonExampleMap_BuiltData.uasset
Content/FirstPersonBP/Maps/FirstPersonExampleMap.umap
Content/FirstPersonBP/Maps/test.umap
